  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 900px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
#map {
        height: 100%;
      }
.navtxt{
    background: #fff;
    box-shadow: inset 4px 2px 36px -10px #C70039;
}
.fl-text{
    margin:0px auto;
    float: right;
}
.weltext{
    text-align: center;
    color: blue;
    font-family: Arial;
    margin-left: 20px;
    font-size: 22px;
    padding: 10px;
}
form{
    
    border: 1px solid #fff;
    margin: px auto;

}
div{
   margin: 0px auto;  
   display: block;
   
  
}
/* .row{
    margin: 0px auto;
    margin-top: 5px;
    
} */
.forps a{
    margin: auto;
    float: right;
}   
.bootomfooter {
    border-top: 1px solid #000000;
    background: blue;
}
.ct-sec
{
    padding-top: 0.1em;
    
    color: #C70039;
    background: #000000;
    margin-top: 208px;
}
.ct-sec1
{
    padding-top: 1em;
    padding-bottom: 0.5em;
    color: #C70039;
    background: #000000;
    margin-top: 440px;
}
.y-tx{
    float: right;
  
}
.fa-home{
    font-size: 20px;
}
.div.zero-spacing {
    padding: 0px;
    margin: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
}

.input-group {
    background:violet;
}
#se-txt{
    border-radius: 30px !important;
    padding: 10px 20px;
    margin-top: 5px;
    height: 23px;
    position: relative;
    left: 5px;
    width: 130px;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group1 {
    background:violet;
    height: 30px;
    margin-left: 4px;
    margin-right: 4px;
}
.alarmstab {
    height: 31px;
    color: white;
}
.alarmstab {
    background: violet;
}
.loc-checkbox
{
    height: 16em;
    overflow-y: scroll;
    
}
.loc{
    background: violet;
    color: #fff;
    text-align: center;
}
.tbl-data{
    display: inline-block;
    overflow: scroll;
}
.side-bar{
    background: #fff;
    
}
.pagination>li.active>a, .pagination>li.active>a:hover {
    background: violet;
    color: #fff;
      cursor: pointer;
  }
  
  .pagination li
  {
      display: inline-block;
      margin-left: 0.1em;
      margin-right: 0.1em;
      float: right;
  }
  
  .pagination li>a
  {
      border-radius: 50%;
      color: #7f7f7f;
      border-color: #7f7f7f;
  }
  
  .pagination li>a:hover
  {
     border-color:violet;
     color: violet;    
  }
  
  .pagination>li:first-child>a, .pagination>li:last-child>a
  {
      border-radius: 50%;
      background: #7f7f7f;
      color: #fff;
      border-color: #7f7f7f;
  }
  a .nav-link{
      background: blue;
  }
  #v-pills-home-tab{
      background: royalblue;
      border: 1px solid #000000;
      margin-bottom: 2px;
  }
  #v-pills-profile-tab{
    background: royalblue;
    border: 1px solid #000000;
    margin-bottom: 2px;
  }
  #v-pills-messages-tab{
    background: royalblue;
    border: 1px solid #000000;
    margin-bottom: 2px;
  }
  #v-pills-settings-tab{
    background: royalblue;
    border: 1px solid #000000;
    margin-bottom: 2px;
  }
